@layer reset, base, tokens, recipes, utilities;

@import './reset.css';

@import './global.css';

@layer utilities {
  .fs_2xl {
    font-size: 2xl
    }

  .items_center {
    align-items: center
    }

  .border-width_1px {
    border-width: 1px
    }

  .cursor_pointer {
    cursor: pointer
    }

  .d_inline-flex {
    display: inline-flex
    }

  .font_600 {
    font-weight: 600
    }

  .justify_center {
    justify-content: center
    }

  .text_center {
    text-align: center
    }

  .transition_all_0\.2s_ease-in-out {
    transition: all 0.2s ease-in-out
    }

  .text_brand\.50 {
    color: brand.50
    }

  .bg_brand\.500 {
    background: brand.500
    }

  .border_brand\.500 {
    border-color: brand.500
    }

  .text_primary\.50 {
    color: primary.50
    }

  .bg_primary\.500 {
    background: primary.500
    }

  .border_primary\.800 {
    border-color: primary.800
    }

  .text_secondary\.50 {
    color: secondary.50
    }

  .bg_secondary\.500 {
    background: secondary.500
    }

  .border_secondary\.500 {
    border-color: secondary.500
    }

  .text_tertiary\.50 {
    color: tertiary.50
    }

  .bg_tertiary\.500 {
    background: tertiary.500
    }

  .border_tertiary\.500 {
    border-color: tertiary.500
    }

  .text_accent\.50 {
    color: accent.50
    }

  .bg_accent\.500 {
    background: accent.500
    }

  .border_accent\.500 {
    border-color: accent.500
    }

  .disabled\:bg_gray\.100:is(:disabled, [disabled], [data-disabled]) {
    background: gray.100
        }

  .disabled\:text_gray\.800:is(:disabled, [disabled], [data-disabled]) {
    color: gray.800
        }

  .disabled\:border_gray\.200:is(:disabled, [disabled], [data-disabled]) {
    border-color: gray.200
        }

  .disabled\:cursor_not-allowed:is(:disabled, [disabled], [data-disabled]) {
    cursor: not-allowed
        }

  .rounded_none {
    border-radius: none
    }

  .rounded_0\.75em {
    border-radius: 0.75em
    }

  .rounded_full {
    border-radius: full
    }

  .pl_3 {
    padding-left: 3
    }

  .pr_3 {
    padding-right: 3
    }

  .pt_1 {
    padding-top: 1
    }

  .pb_1 {
    padding-bottom: 1
    }

  .pl_4 {
    padding-left: 4
    }

  .pr_4 {
    padding-right: 4
    }

  .pt_2 {
    padding-top: 2
    }

  .pb_2 {
    padding-bottom: 2
    }

  .fs_sm {
    font-size: sm
    }

  .pl_6 {
    padding-left: 6
    }

  .pr_6 {
    padding-right: 6
    }

  .pt_3 {
    padding-top: 3
    }

  .pb_3 {
    padding-bottom: 3
    }

  .fs_md {
    font-size: md
    }

  .pl_8 {
    padding-left: 8
    }

  .pr_8 {
    padding-right: 8
    }

  .pt_4 {
    padding-top: 4
    }

  .pb_4 {
    padding-bottom: 4
    }

  .pl_14 {
    padding-left: 14
    }

  .pr_14 {
    padding-right: 14
    }

  .pt_5 {
    padding-top: 5
    }

  .pb_5 {
    padding-bottom: 5
    }

  .fs_lg {
    font-size: lg
    }

  .font_bold {
    font-weight: bold
    }

  .focus\:bg_brand\.300:is(:focus, [data-focus]) {
    background: brand.300
        }

  .focus\:text_brand\.50:is(:focus, [data-focus]) {
    color: brand.50
        }

  .focus\:border_brand\.600:is(:focus, [data-focus]) {
    border-color: brand.600
        }

  .focus\:bg_primary\.300:is(:focus, [data-focus]) {
    background: primary.300
        }

  .focus\:text_primary\.50:is(:focus, [data-focus]) {
    color: primary.50
        }

  .focus\:border_primary\.600:is(:focus, [data-focus]) {
    border-color: primary.600
        }

  .focus\:bg_secondary\.300:is(:focus, [data-focus]) {
    background: secondary.300
        }

  .focus\:text_secondary\.50:is(:focus, [data-focus]) {
    color: secondary.50
        }

  .focus\:border_secondary\.600:is(:focus, [data-focus]) {
    border-color: secondary.600
        }

  .focus\:bg_tertiary\.300:is(:focus, [data-focus]) {
    background: tertiary.300
        }

  .focus\:text_tertiary\.50:is(:focus, [data-focus]) {
    color: tertiary.50
        }

  .focus\:border_tertiary\.600:is(:focus, [data-focus]) {
    border-color: tertiary.600
        }

  .focus\:bg_accent\.300:is(:focus, [data-focus]) {
    background: accent.300
        }

  .focus\:text_accent\.50:is(:focus, [data-focus]) {
    color: accent.50
        }

  .focus\:border_accent\.600:is(:focus, [data-focus]) {
    border-color: accent.600
        }

  .disabled\:focus\:bg_gray\.100:is(:disabled, [disabled], [data-disabled]):is(:focus, [data-focus]) {
    background: gray.100
            }

  .disabled\:focus\:text_gray\.800:is(:disabled, [disabled], [data-disabled]):is(:focus, [data-focus]) {
    color: gray.800
            }

  .disabled\:focus\:border_gray\.200:is(:disabled, [disabled], [data-disabled]):is(:focus, [data-focus]) {
    border-color: gray.200
            }

  .hover\:bg_brand\.400:is(:hover, [data-hover]) {
    background: brand.400
        }

  .hover\:text_brand\.50:is(:hover, [data-hover]) {
    color: brand.50
        }

  .hover\:border_brand\.600:is(:hover, [data-hover]) {
    border-color: brand.600
        }

  .hover\:bg_primary\.400:is(:hover, [data-hover]) {
    background: primary.400
        }

  .hover\:text_primary\.50:is(:hover, [data-hover]) {
    color: primary.50
        }

  .hover\:border_primary\.600:is(:hover, [data-hover]) {
    border-color: primary.600
        }

  .hover\:bg_secondary\.400:is(:hover, [data-hover]) {
    background: secondary.400
        }

  .hover\:text_secondary\.50:is(:hover, [data-hover]) {
    color: secondary.50
        }

  .hover\:border_secondary\.600:is(:hover, [data-hover]) {
    border-color: secondary.600
        }

  .hover\:bg_tertiary\.400:is(:hover, [data-hover]) {
    background: tertiary.400
        }

  .hover\:text_tertiary\.50:is(:hover, [data-hover]) {
    color: tertiary.50
        }

  .hover\:border_tertiary\.600:is(:hover, [data-hover]) {
    border-color: tertiary.600
        }

  .hover\:bg_accent\.400:is(:hover, [data-hover]) {
    background: accent.400
        }

  .hover\:text_accent\.50:is(:hover, [data-hover]) {
    color: accent.50
        }

  .hover\:border_accent\.600:is(:hover, [data-hover]) {
    border-color: accent.600
        }

  .disabled\:hover\:bg_gray\.100:is(:disabled, [disabled], [data-disabled]):is(:hover, [data-hover]) {
    background: gray.100
            }

  .disabled\:hover\:text_gray\.800:is(:disabled, [disabled], [data-disabled]):is(:hover, [data-hover]) {
    color: gray.800
            }

  .disabled\:hover\:border_gray\.200:is(:disabled, [disabled], [data-disabled]):is(:hover, [data-hover]) {
    border-color: gray.200
            }
}